---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ppeb.me">
    <main>
        <h1>ppeb!!!&nbsp;&nbsp;&nbsp;<img src="/guhh.gif" width="40px" height="40px" alt="guhh??" /> </h1>
        <hr/>
        <p>
            Guh?? <br/>
            <br/>
            very cool links - <br/>
            - <a href="https://github.com/ppebb">My github (really cool projects)</a> <br/>
            - <a href="https://discord.gg/EB6yPZj">Discord server</a> (or @ ppeb) <br/>
            - I have a matrix @ppeb:matrix.org if you're really interested... <br/>
            - Hosted on <a href="https://freedns.afraid.org">FreeDNS</a>
            <hr/>

            <img src="/tomorrow.png" class="tomorrow" alt="does anyone know if we have to keep going tomorrow" />

            <div class="icons">
                <img src="/catticon.png" width="81px" height="33px" alt="catticon.png" />
                <a href="https://umbresp.cat/"><img src="/umbresp.gif" alt="umpresp.gif" /></a>
            </div>
        </p>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 600px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        margin: 0px;
    }
    h1 > img {
        vertical-align: middle;
    }
    ul {
        padding: 0;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }
    .icons {
        max-width: 100%;
        justify-content: center;
        display: flex;
    }
    .icons > img {
        margin-left: 5px;
        margin-right: 5px;
    }
    .tomorrow {
        max-width: 100%;
    }
</style>
