---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ppeb.me">
    <main>
        <h1>ppeb!!!&nbsp;&nbsp;&nbsp;<img src="/guhh.gif" width="40px" height="40px" alt="guhh??" /> </h1>
        <hr/>
        <p>
            What do I even put here. I'm not writing about myself. <br/>
            Guh?? <br/>
            <br/>
            Hot and sexy links - <br/>
            - <a href="https://github.com/ppebb">My github (really cool projects)</a> <br/>
            - <a href="https://discord.gg/EB6yPZj">Discord server</a> (or @ ppeb) <br/>
            - I have a matrix @ppeb:matrix.org if you're really interested... <br/>
            - Hosted on <a href="https://freedns.afraid.org">FreeDNS</a>
            <hr/>
            <div class="icons">
                <img src="/catticon.png" alt="catticon.png" />
            </div>
        </p>

        <img src="/tomorrow.png" width="600px" alt="does anyone know if we have to keep going tomorrow" />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        width: 600px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    h1 {
        margin: 0px;
    }
    h1 > img {
        vertical-align: middle;
    }
    ul {
        padding: 0;
    }
    a {
        color: var(--link-color);
        text-decoration: none;
    }
    .icons {
        width: 600px;
    }
    .icons > img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
</style>
